* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.myHeader {
    margin-bottom: 0;
    padding-bottom: 0;
}


.mainBody {
    background-color: #a1a4a7;
    width: 100%;
    padding: 0px 10px;
}



.mainPageContainer {
    padding: 0;
    margin: 0;
    display: flex;
}

.myFooter {
    background-color: rgb(145, 145, 150);
    padding: 24px;
}

.postContent {
    text-align: justify;
    margin: 0
}

.myCard {
    max-width: 21rem;
    margin: 8px 8px;
}

.myTag {
    margin: 4px
}

.PostContainer {
    display: flex;
    flex-wrap: wrap;
}

.myForm {
    width: 80%;
    margin-left: 10%;
    margin-top: 40px;
}

.welcome_message {
    margin: auto;
}

.welcome_message {
    width: 50%;
    margin: 5% auto;
}